{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'css/base.css') }}"
/>
{% endblock %} {% block content %}
<body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Add Workout</h5>
      </div>
      <div class="card-body">
        <!-- Workout Form -->
        <form action="/new-workout" method="POST">
          {% with messages = get_flashed_messages() %} {% if messages %}
          <div class="notification is-danger ms-2">{{ messages[0] }}</div>
          {% endif %} {% endwith %}
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              required
            />
          </div>

          <div class="mb-3">
            <label for="notes" class="form-label">Notes</label>
            <textarea
              class="form-control"
              id="notes"
              name="notes"
              rows="3"
              required
            ></textarea>
          </div>
          <button type="submit" class="btn1">Add Workout</button>
        </form>
      </div>
    </div>
  </div>
</body>

{% endblock %}
